In [1]:
import pandas as pd
import numpy as np
import networkx as nx
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
university_rankings = pd.read_csv('usa_colleges.csv')
university_rankings

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,COMP_2YR_TRANS_YR6_RT,WDRAW_ORIG_YR6_RT,WDRAW_4YR_TRANS_YR6_RT,WDRAW_2YR_TRANS_YR6_RT,ENRL_ORIG_YR6_RT,ENRL_4YR_TRANS_YR6_RT,ENRL_2YR_TRANS_YR6_RT,UNKN_ORIG_YR6_RT,UNKN_4YR_TRANS_YR6_RT,UNKN_2YR_TRANS_YR6_RT
0,100654,100200.0,1002.0,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www.aamu.edu/admissions-aid/tuition-fees/net-p...,...,0.043019480519,0.323051948052,0.087662337662,0.122564935065,0.025974025974,0.021103896104,0.012175324675,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed
1,100663,105200.0,1052.0,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,https://www.uab.edu/,https://tcc.ruffalonl.com/University of Alabam...,...,0.05223880597,0.173998428908,0.038491751767,0.052631578947,0.014532600157,0.013747054203,0.009426551453,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed
2,100690,2503400.0,25034.0,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,https://www.amridgeuniversity.edu/,https://www2.amridgeuniversity.edu:9091/,...,0.090909090909,0.478787878788,0.163636363636,0.10303030303,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed
3,100706,105500.0,1055.0,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu/,finaid.uah.edu/,...,0.07123534716,0.19477006312,0.040577096483,0.059513074842,0.010820559062,0.019837691614,0.009918845807,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed
4,100724,100500.0,1005.0,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu/,www.alasu.edu/cost-aid/tuition-costs/net-price...,...,0.05278093076,0.289443813848,0.093643586833,0.104426787741,0.010215664018,0.035187287174,0.015323496027,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6538,49576720,332918.0,3329.0,Pennsylvania State University-Penn State York,York,PA,17403-3326,Middle States Commission on Higher Education,york.psu.edu/,NaN,...,0.042898364861,0.170888105162,0.02782943251,0.044886181468,0.010516191087,0.011798653415,0.008656620712,0.003206155819,PrivacySuppressed,PrivacySuppressed
6539,49576721,332919.0,3329.0,Pennsylvania State University-Penn State Great...,Malvern,PA,19355-1488,Middle States Commission on Higher Education,greatvalley.psu.edu/,NaN,...,0.042898364861,0.170888105162,0.02782943251,0.044886181468,0.010516191087,0.011798653415,0.008656620712,0.003206155819,PrivacySuppressed,PrivacySuppressed
6540,49576722,332920.0,3329.0,Pennsylvania State University-Penn State Harri...,Middletown,PA,17057-4846,Middle States Commission on Higher Education,harrisburg.psu.edu/,NaN,...,0.042898364861,0.170888105162,0.02782943251,0.044886181468,0.010516191087,0.011798653415,0.008656620712,0.003206155819,PrivacySuppressed,PrivacySuppressed
6541,49576723,332921.0,3329.0,Pennsylvania State University-Penn State Brand...,Media,PA,19063-5522,Middle States Commission on Higher Education,brandywine.psu.edu/,NaN,...,0.042898364861,0.170888105162,0.02782943251,0.044886181468,0.010516191087,0.011798653415,0.008656620712,0.003206155819,PrivacySuppressed,PrivacySuppressed
6542,49664501,4285601.0,42856.0,Burlington County Institute of Technology - Ad...,Medford,NJ,08055-0000,Middle States Commission on Secondary Education,https://www.bcit.cc/bcitadulted,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
new_df = university_rankings[['UNITID', 'INSTNM', 'CITY', 'STABBR', 'LATITUDE', 'LONGITUDE', 'HBCU', 'PBI', 'MENONLY', 'WOMENONLY', 'SAT_AVG']]

In [4]:
new_df

,UNITID,INSTNM,CITY,STABBR,LATITUDE,LONGITUDE,HBCU,PBI,MENONLY,WOMENONLY,SAT_AVG
0,100654,Alabama A & M University,Normal,AL,34.783368,-86.568502,1.0,0.0,0.0,0.0,954.0
1,100663,University of Alabama at Birmingham,Birmingham,AL,33.505697,-86.799345,0.0,0.0,0.0,0.0,1266.0
2,100690,Amridge University,Montgomery,AL,32.362609,-86.174010,0.0,0.0,0.0,0.0,NaN
3,100706,University of Alabama in Huntsville,Huntsville,AL,34.724557,-86.640449,0.0,0.0,0.0,0.0,1300.0
4,100724,Alabama State University,Montgomery,AL,32.364317,-86.295677,1.0,0.0,0.0,0.0,955.0
...,...,...,...,...,...,...,...,...,...,...,...
6538,49576720,Pennsylvania State University-Penn State York,York,PA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6539,49576721,Pennsylvania State University-Penn State Great...,Malvern,PA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6540,49576722,Pennsylvania State University-Penn State Harri...,Middletown,PA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6541,49576723,Pennsylvania State University-Penn State Brand...,Media,PA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6542,49664501,Burlington County Institute of Technology - Ad...,Medford,NJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
new_df.sort_values('SAT_AVG', ascending=False)

,UNITID,INSTNM,CITY,STABBR,LATITUDE,LONGITUDE,HBCU,PBI,MENONLY,WOMENONLY,SAT_AVG
4416,441982,Franklin W Olin College of Engineering,Needham,MA,42.293527,-71.263378,0.0,0.0,0.0,0.0,1537.0
861,144050,University of Chicago,Chicago,IL,41.787994,-87.599539,0.0,0.0,0.0,0.0,1535.0
3219,227757,Rice University,Houston,TX,29.717897,-95.402035,0.0,0.0,0.0,0.0,1534.0
3107,221999,Vanderbilt University,Nashville,TN,36.146590,-86.803369,0.0,0.0,0.0,0.0,1534.0
1434,166027,Harvard University,Cambridge,MA,42.374471,-71.118313,0.0,0.0,0.0,0.0,1534.0
...,...,...,...,...,...,...,...,...,...,...,...
6538,49576720,Pennsylvania State University-Penn State York,York,PA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6539,49576721,Pennsylvania State University-Penn State Great...,Malvern,PA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6540,49576722,Pennsylvania State University-Penn State Harri...,Middletown,PA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6541,49576723,Pennsylvania State University-Penn State Brand...,Media,PA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6542,49664501,Burlington County Institute of Technology - Ad...,Medford,NJ,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df = new_df.fillna('Not Listed')

In [7]:
df.dropna(subset=['SAT_AVG'], inplace=True)

In [8]:
# A user should alter the given city in quotation marks for the school they want to know about
# In other words, a student trying to learn about University of Southern California should put Los Angeles, and
# scroll to find it
df.loc[df['CITY'] == 'College Park']

,UNITID,INSTNM,CITY,STABBR,LATITUDE,LONGITUDE,HBCU,PBI,MENONLY,WOMENONLY,SAT_AVG
1363,163286,University of Maryland-College Park,College Park,MD,38.988178,-76.944721,0.0,0.0,0.0,0.0,1426.0

In [9]:
# If a user wants to filter based on state, they can use this cell instead.
df.loc[df['STABBR'] == 'WV']

,UNITID,INSTNM,CITY,STABBR,LATITUDE,LONGITUDE,HBCU,PBI,MENONLY,WOMENONLY,SAT_AVG
3472,237118,Alderson Broaddus University,Philippi,WV,39.158067,-80.047728,0.0,0.0,0.0,0.0,1030.0
3474,237136,Appalachian Bible College,Mount Hope,WV,37.853335,-81.198867,0.0,0.0,0.0,0.0,1126.0
3475,237145,B M Spurr School of Practical Nursing,Glen Dale,WV,39.946126,-80.752394,0.0,0.0,0.0,0.0,Not Listed
3476,237172,Ben Franklin Career Center,Dunbar,WV,38.367234,-81.75353,0.0,0.0,0.0,0.0,Not Listed
3477,237181,Bethany College,Bethany,WV,40.205819,-80.560056,0.0,0.0,0.0,0.0,1061.0
...,...,...,...,...,...,...,...,...,...,...,...
5349,481906,Ross Medical Education Center-Charleston,Charleston,WV,38.310312,-81.567573,0.0,0.0,0.0,0.0,Not Listed
5472,484932,BridgeValley Community & Technical College,South Charleston,WV,38.353846,-81.6983,0.0,0.0,0.0,0.0,Not Listed
5521,486202,Mingo Extended Learning Center,Delbarton,WV,37.677016,-82.176972,0.0,0.0,0.0,0.0,Not Listed
5532,486406,Randolph Technical Center,Elkins,WV,38.890857,-79.852118,0.0,0.0,0.0,0.0,Not Listed
5614,487977,Martinsburg College,Martinsburg,WV,39.487035,-77.959662,0.0,0.0,0.0,0.0,Not Listed

In [10]:
# Step 1: Define a function to calculate Euclidean distance with widened SAT range
def euclidean_distance(college1, college2, sat_range=200):
    features = ['LATITUDE', 'LONGITUDE']
    if 'SAT_AVG' in college1.index and 'SAT_AVG' in college2.index:
        features.append('SAT_AVG')
    dist_lat_long = np.linalg.norm([college1[feat] - college2[feat] for feat in features[:-1]])
    if 'SAT_AVG' in features:
        if abs(college1['SAT_AVG'] - college2['SAT_AVG']) <= sat_range:
            dist_sat = 0
        else:
            dist_sat = 1
        return np.sqrt(dist_lat_long**2 + dist_sat**2)
    else:
        return dist_lat_long

# Step 2: Define a function to find most similar schools with widened SAT range
def find_similar_schools(user_input, data, top_n=10, sat_range=50):
    user_school = data.loc[data['INSTNM'] == user_input]
    if user_school.empty:
        print("School not found!")
        return
    
    user_features = user_school[['LATITUDE', 'LONGITUDE', 'SAT_AVG']].iloc[0]
    data['similarity'] = data.apply(lambda x: euclidean_distance(user_features, x[['LATITUDE', 'LONGITUDE', 'SAT_AVG']], sat_range), axis=1)
    similar_schools = data.sort_values(by='similarity').head(top_n)
    return similar_schools[['UNITID', 'INSTNM', 'CITY', 'STABBR', 'SAT_AVG']]

# Step 3: User input and display similar schools
user_input = input("Enter the name of a school: ")
similar_schools = find_similar_schools(user_input, new_df)
if similar_schools is not None:
    print("Top 10 most similar schools to", user_input, ":")
    print(similar_schools)

Enter the name of a school: Clemson University
Top 10 most similar schools to Clemson University :
      UNITID                                           INSTNM         CITY  \
2947  217882                               Clemson University      Clemson
2957  218070                                Furman University   Greenville
774   139959                            University of Georgia       Athens
2991  218973                                  Wofford College  Spartanburg
2986  218885                     Tri-County Technical College    Pendleton
2940  217776                     Southern Wesleyan University      Central
2935  217633                              Anderson University     Anderson
5157  467906  Kenneth Shuler School of Cosmetology-Greenville   Greenville
5603  487791                                          Arclabs     Piedmont
2958  218113                     Greenville Technical College   Greenville

     STABBR  SAT_AVG
2947     SC   1339.0
2957     SC   1375.0
774      GA   1386.0
2991     SC   1310.0
2986     SC      NaN
2940     SC   1079.0
2935     SC      NaN
5157     SC      NaN
5603     SC      NaN
2958     SC      NaN

In [11]:
# Load your university rankings DataFrame into new_df
# Assuming new_df has columns: 'UNITID', 'INSTNM', 'LATITUDE', 'LONGITUDE', 'SAT_AVG'

# Step 1: Define a function to calculate Euclidean distance with widened SAT range
def euclidean_distance(college1, college2, sat_range=50):
    features = ['LATITUDE', 'LONGITUDE']
    if 'SAT_AVG' in college1.index and 'SAT_AVG' in college2.index:
        features.append('SAT_AVG')
    dist_lat_long = np.linalg.norm([college1[feat] - college2[feat] for feat in features[:-1]])
    if 'SAT_AVG' in features:
        if abs(college1['SAT_AVG'] - college2['SAT_AVG']) <= sat_range:
            dist_sat = 0
        else:
            dist_sat = 1
        return np.sqrt(dist_lat_long**2 + dist_sat**2)
    else:
        return dist_lat_long

# Step 2: Define a function to find most similar schools with widened SAT range
def find_similar_schools(user_input, data, top_n=10, sat_range=50):
    user_school = data.loc[data['UNITID'] == user_input]
    if user_school.empty:
        print("School not found!")
        return
    
    user_features = user_school[['LATITUDE', 'LONGITUDE', 'SAT_AVG']].iloc[0]
    data['similarity'] = data.apply(lambda x: euclidean_distance(user_features, x[['LATITUDE', 'LONGITUDE', 'SAT_AVG']], sat_range), axis=1)
    similar_schools = data.sort_values(by='similarity').head(top_n)
    return similar_schools[['UNITID', 'INSTNM', 'CITY', 'STABBR', 'SAT_AVG']]

# Step 3: User input and display similar schools
user_input = int(input("Enter the school ID: "))
similar_schools = find_similar_schools(user_input, new_df)
if similar_schools is not None:
    print("Top 10 most similar schools to", user_input, ":")
    print(similar_schools)

Enter the school ID: 163286
Top 10 most similar schools to 163286 :
      UNITID                                             INSTNM  \
1363  163286                University of Maryland-College Park
599   131469                       George Washington University
594   131159                                American University
1378  163976                                 St. John's College
1344  162210                    Washington Adventist University
1367  163408                           Montgomery Beauty School
4340  439473                           Bennett Career Institute
595   131283                 The Catholic University of America
4856  455813  Pontifical John Paul II Institute for Studies ...
597   131405  Pontifical Faculty of the Immaculate Conceptio...

               CITY STABBR  SAT_AVG
1363   College Park     MD   1426.0
599      Washington     DC   1419.0
594      Washington     DC   1381.0
1378      Annapolis     MD   1376.0
1344    Takoma Park     MD      NaN
1367  Silver Spring     MD      NaN
4340     Washington     DC      NaN
595      Washington     DC      NaN
4856     Washington     DC      NaN
597      Washington     DC      NaN